.Braging{
    position: absolute;
    top: 350%;
    display: flex;
    flex-direction: row;
}

*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');
}


.brag1{
   position: relative;
   left: 10%;
}


.brag4 p{
    width: 70% !important;
}

.brag2 p{
    width: 80% !important;
}

.Braging h2{
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #2E3A40;
}


.Braging  img{
    /* width: 7%; */
    background-color: #2eb8753a;
    border-radius: 50%;
    border: 3px solid #2EB875;
}


.Braging p{
    width: 50%;
    font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

@media screen and (max-width: 480px) {
    .Braging{
        position: absolute;
        top: 330%;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .Braging h2{
        margin-left: 50px;
        transform: translateY(-45px);
        width: 90% !important;
    }

    .Braging p{
        margin-left: 50px;
       transform: translateY(-45px);
       font-size: 18px;
    }


    .Braging p{
        width: 70%;
    }
    .brag4 p{
        width: 90% !important;
    }

    /* .Braging img{
        width: 10%;
    } */

    .Braging h2{
        font-size: 1.3rem;
    }
}