.wrap-service  img{
    width: 35%;
}


*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');
}


.car{
    width: 60% !important;
}

.wrap-service{
    display: flex;
    flex-direction: row;
   margin-top: 10%;
}


.wrap-service p{
    font-family: 'Roboto', sans-serif;
    line-height: 23px;

}
.wrap2{
    transform: translateY(40px);
}


.wrap3{
    transform: translateY(-20px);
    
}
.wrap-service h2{
    padding: 20px 0;
    font-size: 1.8rem;
    color: #2E3A40;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.wrap1{
    margin: 0 80px;
}
.cut{
    width: 90% !important;
}

.wrap1 > p{
    width: 120%;
}

@media screen and (max-width: 480px) {
    .wrap-service{
        display: flex;
        flex-direction: column;
      
       margin-top: 10%;
       width: 80%;
    }

    .wrap-service img{
        margin-left: -40%;
        width: 25%;
    }

    .wrap2 > img{
        width: 40% !important;
    }

    .wrap2 h2{
        transform: translateY(-90%);
        margin-left: 20px;
    }
    .wrap2 p{
        transform: translateY(-170%);
        margin-left: 20px;
        width: 80%;
    }
    

.wrap4 h2{
    transform: translateY(-100%) !important;
    margin-left: 20px;
    width: 130% !important;
}
.wrap4 > p{
    transform: translateY(-110%);
    margin-left: 20px;
   
}

    .wrap-service h2{
        font-size: 1.3rem;
        width: 140% !important;
    }

    .wrap-service p{
        font-size: 1rem;
        width: 230% !important;
        line-height: 22px;
    }

    .wrap3 h2{
        transform: translateY(-130%);
        margin-left: 20px;
        width: 150% !important;
    }
    .wrap3 p{
        transform: translateY(-150%);
        margin-left: 20px;
        width: 150% !important;
    }

    .wrap4 h2{
        width: 150% !important;
        transform: translateY(-130%);
    }
}